{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load featured_posts %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
{% include '_inc/_top_nav.html' %}
{% include '_inc/_nav.html' %}
<header class="page-header"></header>

<div class="container">
    {% get_featured_posts %}
    <div class="page-container">
        <div class="page-content">
            <div class="card">
                <div class="card-header text-center">
                    <h5 class="card-title">Voluptates Corporis Placeat</h5>
                    <small class="small text-muted">January 24 2019
                        <span class="px-2">-</span>
                        <a href="#" class="text-muted">32 Comments</a>
                    </small>
                </div>
                <div class="card-body">
                    <div class="blog-media">
                        <img src="{% static 'assets/imgs/blog-6.jpg' %}" alt="" class="w-100">
                        <a href="#" class="badge badge-primary">#Salupt</a>
                    </div>
                    <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos saepe dolores et
                        nostrum porro odit reprehenderit animi, est ratione fugit aspernatur ipsum. Nostrum placeat hic
                        saepe voluptatum dicta ipsum beatae.</p>
                </div>

                <div class="card-footer d-flex justify-content-between align-items-center flex-basis-0">
                    <a href="single-post.html" class="btn btn-outline-dark btn-sm">READ MORE</a>
                    <a href="#" class="text-dark small text-muted">By : Joe Mitchell</a>
                </div>
            </div>
            <hr>
            {% include 'news/posts.html' %}
            {% if page_obj.has_other_pages %}
            <ul class="pagination pagination-lg">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <i class="ti-angle-double-left"></i></a>
                </li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% elif p > page_obj.number|add:-4 and p < page_obj.number|add:4 %}
                <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <i class="ti-angle-double-right"></i></a>
                </li>
                {% endif %}
            </ul>

            {% endif %}
        </div>

        <!-- Sidebar -->
        <div class="page-sidebar text-center">
            {% if author.userprofile.bio %}
            <h6 class="sidebar-title section-title mb-4 mt-3">About</h6>
            <img src="{{author.userprofile.avatar.url}}" alt="" class="circle-100 mb-3">
            <div class="socials mb-3 mt-2">
                <a href="javascript:void(0)"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)"><i class="ti-twitter"></i></a>
                <a href="javascript:void(0)"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)"><i class="ti-youtube"></i></a>
            </div>
            <p>{{author.userprofile.bio}}</p>
            {% endif %}

            {% include '_inc/_sidebar.html' %}
        </div>


    </div>
</div>

{% include '_inc/_instagram.html' %}

{% endblock %}


