<div class="row">
    {% for post in posts %}
    <div class="col-lg-6">
        <div class="card text-center mb-5">

            <div class="card-header p-0">
                <div class="blog-media">
                    {% if post.photo %}
                    <img src="{{ post.photo.url}}" alt="" class="w-100">
                    {% if post.tags.exists %}
                    <a href="{{post.tags.get_absolute_url}}" class="badge badge-primary">#{{post.tags.all.0}}</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="card-body px-0">
                <h5 class="card-title mb-2">{{ post.title }}</h5>
                <small class="small text-muted"><i class="ti-calendar pr-1"></i>{{ post.created_at|date:"M d Y" }}
                    <span class="px-2">-</span>
                    <a href="{{post.get_absolute_author_url}}" class="text-muted">By {{post.author}}</a>
                </small>
                <p class="my-2">{{ post.content|safe|linebreaks|truncatewords:30 }}</p>
            </div>
            <div class="card-footer p-0 text-center">
                <a href="{{post.get_absolute_url}}" class="btn btn-outline-dark btn-sm">READ MORE</a>
            </div>
            <br>
        </div>
    </div>
    {% endfor %}
</div>
