{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}
{{ block.super }}: {% translate "Change Email" %}
{% endblock %}

{% block extend_head %}

{% endblock %}


{% block content %}
{% include '_inc/_top_nav.html' %}
{% include '_inc/_nav.html' %}

{% if request.user.is_authenticated %}
<br>
<div class="container">
    <div class="col-md-12">
        <div class="wrap-login100 p-t-50 p-b-90">
            <div class="login100-form-title">
                <h1>{% translate "Change email" %}</h1>
            </div>
            <form method="post" class="login100-form validate-form flex-sb flex-w">
                {% csrf_token %}
                <br>
                {{ form.email.errors }}
                <div class="wrap-input100 validate-input m-b-16" data-validate="{% translate 'e-mail is required' %}">
                    {{ form.email }}
                </div>
                <br>
                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="btn btn-primary btn-block">
                        {% translate "Change email" %}
                    </button>
                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div>
                            <a href="{% url 'logout' %}" class="txt1">{% translate "Log out" %}</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% else %}
<div class="limiter">
    <div class="container-login100">
        <div class="login100-form-title">
            <h2>{% translate "You are a not member" %}</h2>
            <div>
                <strong><a href="{% url 'login' %}" class="txt1">{% translate "Log in" %}</a></strong>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
