{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{{ block.super }}: {% translate "Password change" %}
{% endblock %}

{% block extend_head %}
{% endblock %}


{% block content %}
{% include '_inc/_top_nav.html' %}
{% include '_inc/_nav.html' %}

{% if request.user.is_authenticated %}
<div class="container">
    <div class="col-md-12">
        <div class="wrap-login100 p-t-50 p-b-90">
            <div class="login100-form-title">
                <h2 class="margin-bottom-10">{% translate "Change password" %}</h2>
            </div>
            <form method="post" class="login100-form validate-form flex-sb flex-w">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {{ form.old_password.errors }}
                <div class="wrap-input100 validate-input m-b-16" data-validate="Old password is required">
                    <input class="form-control col-md-12" placeholder="{% translate 'Old password' %}"
                           type="password" name="old_password" id="id_old_password"
                           {% if form.old_password.value != None %}
                           value="{{ form.old_password.value|stringformat:'s' }}"
                           {% endif %} required>
                    <span class="focus-input100"></span>
                </div>
                <br>
                {{ form.new_password1.errors }}
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="form-control col-md-12" placeholder="{% translate 'New password' %}"
                           type="password" name="new_password1" id="id_new_password1"
                           {% if form.new_password1.value != None %}
                           value="{{ form.new_password1.value|stringformat:'s' }}"
                           {% endif %} required>
                    <span class="focus-input100"></span>
                </div>
                <br>

                {{ form.new_password2.errors }}
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="form-control col-md-12" placeholder="{% translate 'New password' %}"
                           type="password" name="new_password2" id="id_new_password2"
                           {% if form.new_password2.value != None %}
                           value="{{ form.new_password2.value|stringformat:'s' }}"
                           {% endif %} required>
                    <span class="focus-input100"></span>
                </div>


                <br>
                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="btn btn-primary btn-block">
                        {% translate "Change password" %}
                    </button>
                    <div class="flex-sb-m w-full p-t-3 p-b-24">
                        <div>
                            <a href="{% url 'logout' %}" class="txt1">{% translate "Log out" %}</a>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% else %}

<div class="limiter">
    <div class="container-login100">
        <div class="login100-form-title">
            <h2>{% translate "You are a not member" %}</h2>
            <div>
                <strong><a href="{% url 'login' %}" class="txt1">{% translate "Log in" %}</a></strong>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
