{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block title %}
{{ block.super }}: {% translate "Password change" %}
{% endblock %}

{% block extend_head %}
{% endblock %}


{% block content %}
{% include '_inc/_top_nav.html' %}
{% include '_inc/_nav.html' %}

{% if request.user.is_authenticated %}
<br>
<div class="container">
    <div class="col-md-12">
        <div class="login100-form-title">
            <h2>{% translate "Password successfully changed" %}</h2>
            <div>
                <strong><a href="{% url 'home' %}" class="txt1">{% translate "Go home" %}</a></strong>
                <small class="txt1"> {% translate "or" %}</small>
                <strong><a href="{% url 'logout' %}" class="txt1">{% translate "Log out" %}</a></strong>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="limiter">
    <div class="container-login100">
        <div class="login100-form-title">
            <h2>{% translate "You are not a member"}</h2>
            <div>
                <strong><a href="{% url 'login' %}" class="txt1">{% translate "Log in" %}</a></strong>
                <small class="txt1"> {% translate "or" %}</small>
                <strong><a href="{% url 'index' %}" class="txt1">{% translate "go home" %}</a></strong>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block footer %}
{% endblock %}
